/* Not required for using theme.
 * Use any font you want.
 */

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.content-area {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}

